In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('Train.csv')
train.head(10)

   InvoiceNo  StockCode  Description  ...  UnitPrice CustomerID  Country
0       6141       1583          144  ...       3.75    14056.0       35
1       6349       1300         3682  ...       1.95    13098.0       35
2      16783       2178         1939  ...       5.95    15044.0       35
3      16971       2115         2983  ...       0.83    15525.0       35
4       6080       1210         2886  ...       1.65    13952.0       35
5      17388        495         3247  ...       1.65    15351.0       35
6      18494        165         3377  ...       1.25    12748.0       35
7      17109       2597         3435  ...       1.25    16255.0       35
8      17143       1945         2352  ...       5.75    17841.0       35
9       8422       3311         2502  ...       2.95    13849.0       35

[10 rows x 8 columns]

In [3]:
x = train.loc[:,('StockCode','Country','Country')]
y = train.loc[:,('UnitPrice')]

In [4]:
train.nunique()

InvoiceNo      20971
StockCode       3619
Description     3819
Quantity         373
InvoiceDate    19451
UnitPrice        524
CustomerID      4339
Country           37
dtype: int64

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284780 entries, 0 to 284779
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    284780 non-null  int64
 1   StockCode    284780 non-null  int64
 2   Description  284780 non-null  int64
 3   Quantity     284780 non-null  int64
 4   InvoiceDate  284780 non-null  object
 5   UnitPrice    284780 non-null  float64
 6   CustomerID   284780 non-null  float64
 7   Country      284780 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 17.4+ MB

In [10]:
test = pd.read_csv('Test.csv')
test.head()

   InvoiceNo  StockCode  Description  ...          InvoiceDate CustomerID  Country
0       3139       1709         1079  ...  2011-02-22 15:22:00    16161.0       35
1        617        510         3457  ...  2010-12-08 12:46:00    17341.0       35
2      14653        604          694  ...  2011-10-25 13:53:00    15158.0       35
3       8634       1478         3473  ...  2011-06-27 12:38:00    16033.0       35
4      15546       3216          871  ...  2011-11-06 16:14:00    15351.0       35

[5 rows x 7 columns]

In [19]:
x_test = test.loc[:,('StockCode','Country','Country')]

In [20]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)
model.fit(x,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [21]:
y_predict = model.predict(x_test)

In [22]:
final = pd.DataFrame(y_predict)

In [23]:
final.to_csv('submission2.csv',index = False)

In [24]:
pd.read_csv('submission2.csv')

                0
0        1.650000
1        1.188619
2        3.872906
3        1.643229
4       12.606708
...           ...
122044   0.380235
122045   1.681343
122046   1.275328
122047   3.770918
122048   4.167928

[122049 rows x 1 columns]